*{
padding:0;
margin:0;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size:16px;
}
body{

}
.container{
    height: 100vh;
    width:100%;
    background:linear-gradient(145deg,rgb(2, 2, 58),rgb(18, 97, 161));
    padding-top:50px;
}
.todo-app{
    margin:auto ;
    width:450px;
    min-height:160px;
    border-radius:10px;
    background-color: aliceblue;
    padding:20px;

}
.row{
    display:flex;
    justify-content: space-between;
    margin-bottom:20px;
}
input{
    padding:15px;
    background-color: lightblue;
    color:#fff;
    border-radius:5px;
    outline:none;
    border:none;
    flex:0.9;

}
::placeholder{
    color:#fff;
}
button{
    padding:15px 30px;
    background-color: lightcoral;
    color:#fff;
    border-radius:10px;
    outline:none;
    border:none;
    cursor: pointer;

}
.new-items{
   height:100px;
}
